/* Reset some default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Set up the card container */
.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
}

/* Define the styles for each card */
.card {
  width: calc(33.33% - 20px);
  margin: 10px;
  padding: 20px;
  border: 1px solid #ccc;
  text-align: left; /* Align the text to the left */
  background-color:#0e0e0e;
}

.card img {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.card h3 {
  font-size: 20px;
  margin-bottom: 10px;
  font-weight: 900;
  color:lawngreen
}

.card p {
  font-size: 14px;
  margin-bottom: 10px;
  text-align: left; /* Align the paragraphs to the left */
font-weight: 900;
color:paleturquoise
}

.buttons {
  display: flex;
  justify-content: inherit;
  padding: 1px;
}

.button {
  padding: 10px 20px;
  background-color: #04a9ca;
  color: #5a027a;
  text-decoration: none;
  border-radius: 5px;
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
  .card {
    width: calc(50% - 20px);
  }
}

@media (max-width: 480px) {
  .card {
    width: 100%;
  }
}

.read-more-content {
  display: none;
  text-align: left;
}

.read-more-content.show {
  display: inline;
  text-align: left;
}
