/* Add your custom styles here */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: rgb(60, 58, 58);
  color: rgb(209, 203, 203);
  font-weight: 900;
  margin: auto;
}

h2 {
  color: black;
  text-decoration: underline;
  font-weight: 900;
}

header {
  background-color: #212121;
  color: #8e6060;
  padding: 20px;
  font-weight: 900;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #82459f;
  text-align: center;
}

nav ul li {
  display: inline-block;
  padding: 10px;
}

nav ul li a {
  text-decoration: none;
  color: #370b71;
}

nav ul li a:hover {
  color: #666;
}

section {
  padding: 40px;
}

footer {
  background-color: #232323;
  color: #b0acacc2;
  text-align: center;
  padding: 20px;
  position: fixed; /* Fixed position to stick to the bottom */
  left: 0;
  right: 0;
  bottom: 0;
}

#home {
  display: flex;
  align-items: center;
}

#home img {
  width: 200px; /* Adjust the width as needed */
  height: auto;
  margin-right: 20px; /* Add some spacing between the image and text */
}

#home p {
  flex: 1;
  /* Allow the text to fill the remaining space */
}
